<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kitapcitakipsistemi.Properties.Settings.kullanicigirisConnectionString"
            connectionString="Data Source=DESKTOP-28JM1LE;Initial Catalog=kullanicigiris;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kitapcitakipsistemi.Properties.Settings.stok_takipConnectionString"
            connectionString="Data Source=DESKTOP-28JM1LE;Initial Catalog=stok_takip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kitapcitakipsistemi.Properties.Settings.ornekConnectionString"
            connectionString="Data Source=DESKTOP-28JM1LE;Initial Catalog=ornek;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>